/* #262626 */

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ACBFA4;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: #FF7F11;

    font-size: 18px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.sidebar * {
    margin-left: 1rem;
}

.sidebar img {
    width: 1em;
    height: 1em;
    margin-right: 1rem;
}

.sidebar h2 {
    margin-top: 1rem;
    display: flex;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: flex;
    gap: 1rem;
}

.sidebar ul li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.sidebar ul li img {
    width: 1rem;
    height: 1rem;
}

.header {
    background-color: #E2E8CE;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    padding: 0.5rem 1rem;

    box-shadow: 1px 2px 2px black
}

.header .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.header .search-bar {
    display: flex;
}

.header .search-bar input[type="text"] {
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    height: 1.2rem;
    padding: 0 0.5rem;
}

.header-top-right {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-top-right img + img{
    height: 3rem;
    width: 3rem;

    border-radius: 50%;
    outline: 3px solid #FF7F11;

    background-color: black;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-bottom-left img {
    width: 4rem;
    height: 4rem;

    border: 4px solid #FF7F11;
    border-radius: 50%;
}

.header-bottom-right {
    display: flex;
    justify-content: space-around;
}

.header-bottom-right button {
    padding: 0.5rem 1.5rem;
    background-color: #FF7F11;

    border-radius: 2rem;
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    gap: 1rem;

    grid-column: 1;
    grid-row: 1 / 3;
}

.main-project-header {
    grid-column: 1 / 3;
}

.project-card {
    border: 2px solid #262626;
    background-color: #E2E8CE;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    border-radius: 1rem;
}

.project-card p {
    flex: 1;
}

.project-options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-options .icon {
    width: 2rem;
    height: 2rem;
}

.announcement {
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
}

.announc-card {
    background-color: #E2E8CE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;

    border: 2px solid #262626;
    border-radius: 1rem;
}

.announc-card {
    flex: 1;
}

.announc-card .message:not(:first-of-type) {
    padding-top: 1rem;
    border-top: 1px solid #262626;
}

.trending {
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.trending-card {
    background-color: #E2E8CE;

    border: 2px solid #262626;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.person img {
    width: 3.5rem;
    height: 3.5rem;

    border: 3px solid #FF7F11;
    border-radius: 50%;
}

.person:not(:last-of-type) {
    padding-bottom: 0.2rem;
}

