/* #262626 */

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ACBFA4;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: #FF7F11;

    font-size: 18px;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-content: center;
}

.sidebar img {
    width: 1em;
    height: 1em;
    margin-right: 1rem;
}

.sidebar h2 {
    margin-top: 1rem;
    display: flex;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: flex;
    gap: 1rem;
}

.sidebar ul li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.sidebar ul li img {
    width: 1rem;
    height: 1rem;
}

.header {
    background-color: #E2E8CE;
}

