* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.header {
    background-color: white;
}

